DflowXMLSchema/D0204001.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.electralink.co.uk/schemas/Header" xmlns:is="http://www.electralink.co.uk/schemas/DTC/DataItems" xmlns:ds="http://www.electralink.co.uk/schemas/DTC/D0204001" elementFormDefault="unqualified" targetNamespace="http://www.electralink.co.uk/schemas/DTC/D0204001">
	<xs:import schemaLocation="Header.xsd" namespace="http://www.electralink.co.uk/schemas/Header"></xs:import>
	<xs:import schemaLocation="DataItems.xsd" namespace="http://www.electralink.co.uk/schemas/DTC/DataItems"></xs:import>
	<xs:complexType name="DataFlow">
		<xs:sequence>
			<xs:element name="G751_0751" type="ds:G242950" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="G242950">
		<xs:sequence>
			<xs:element name="J0330" type="is:J0330" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G763_0763" type="ds:G242960" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="G242960">
		<xs:sequence>
			<xs:element name="J0109" type="is:J0109" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0723" type="is:J0723" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G440_0440" type="ds:G243000" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243000">
		<xs:sequence>
			<xs:element name="J0003" type="is:J0003" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1036" type="is:J1036" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1037" type="is:J1037" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1038" type="is:J1038" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1039" type="is:J1039" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1040" type="is:J1040" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1041" type="is:J1041" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1042" type="is:J1042" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1043" type="is:J1043" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1044" type="is:J1044" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0263" type="is:J0263" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="G451_0451" type="ds:G243050" minOccurs="1" maxOccurs="unbounded"></xs:element>
			<xs:element name="G450_0450" type="ds:G243060" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G441_0441" type="ds:G243100" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G445_0445" type="ds:G243160" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G447_0447" type="ds:G243170" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G448_0448" type="ds:G243180" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G449_0449" type="ds:G243200" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G446_0446" type="ds:G243210" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G764_0764" type="ds:G243250" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G443_0443" type="ds:G243300" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G444_0444" type="ds:G243400" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G90H_1790" type="ds:G557900" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G91H_1791" type="ds:G558000" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G92H_1792" type="ds:G558100" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G93H_1793" type="ds:G558200" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243050">
		<xs:sequence>
			<xs:element name="J0066" type="is:J0066" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0306" type="is:J0306" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243060">
		<xs:sequence>
			<xs:element name="J0147" type="is:J0147" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0189" type="is:J0189" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0658" type="is:J0658" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243100">
		<xs:sequence>
			<xs:element name="J0049" type="is:J0049" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0031" type="is:J0031" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0117" type="is:J0117" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0821" type="is:J0821" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G669_0669" type="ds:G243139" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="G670_0670" type="ds:G243150" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243139">
		<xs:sequence>
			<xs:element name="J0821" type="is:J0821" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243150">
		<xs:sequence>
			<xs:element name="J0821" type="is:J0821" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243160">
		<xs:sequence>
			<xs:element name="J0080" type="is:J0080" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0297" type="is:J0297" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243170">
		<xs:sequence>
			<xs:element name="J0220" type="is:J0220" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0301" type="is:J0301" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243180">
		<xs:sequence>
			<xs:element name="J0071" type="is:J0071" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0308" type="is:J0308" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243200">
		<xs:sequence>
			<xs:element name="J0076" type="is:J0076" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0300" type="is:J0300" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243210">
		<xs:sequence>
			<xs:element name="J0082" type="is:J0082" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0307" type="is:J0307" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243250">
		<xs:sequence>
			<xs:element name="J0183" type="is:J0183" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0163" type="is:J0163" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0334" type="is:J0334" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243300">
		<xs:sequence>
			<xs:element name="J0205" type="is:J0205" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0218" type="is:J0218" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0219" type="is:J0219" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G243400">
		<xs:sequence>
			<xs:element name="J0178" type="is:J0178" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0675" type="is:J0675" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0210" type="is:J0210" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G557900">
		<xs:sequence>
			<xs:element name="J1833" type="is:J1833" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1834" type="is:J1834" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G558000">
		<xs:sequence>
			<xs:element name="J1839" type="is:J1839" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G558100">
		<xs:sequence>
			<xs:element name="J1837" type="is:J1837" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1838" type="is:J1838" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G558200">
		<xs:sequence>
			<xs:element name="J1835" type="is:J1835" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1836" type="is:J1836" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="DataFlows">
		<xs:sequence>
			<xs:element name="Header" type="ns:Header" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="DataFlow" type="ds:DataFlow" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DataFlows" type="ds:DataFlows"></xs:element>
</xs:schema>