DflowXMLSchema/D0269004.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.electralink.co.uk/schemas/Header" xmlns:is="http://www.electralink.co.uk/schemas/DTC/DataItems" xmlns:ds="http://www.electralink.co.uk/schemas/DTC/D0269004" elementFormDefault="unqualified" targetNamespace="http://www.electralink.co.uk/schemas/DTC/D0269004">
	<xs:import schemaLocation="Header.xsd" namespace="http://www.electralink.co.uk/schemas/Header"></xs:import>
	<xs:import schemaLocation="DataItems.xsd" namespace="http://www.electralink.co.uk/schemas/DTC/DataItems"></xs:import>
	<xs:complexType name="DataFlow">
		<xs:sequence>
			<xs:element name="GMDD_1325" type="ds:G510400" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GOFT_1326" type="ds:G510500" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GTHP_1327" type="ds:G510600" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GSMP_1328" type="ds:G510700" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GRCT_1329" type="ds:G510800" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GDYT_1330" type="ds:G510900" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GDOW_1331" type="ds:G511000" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GMRO_1332" type="ds:G511100" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GMCD_1333" type="ds:G511200" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GCTC_1334" type="ds:G511300" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GEGS_1335" type="ds:G511400" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GSTD_1336" type="ds:G511500" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GSED_1337" type="ds:G511600" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GYEA_1338" type="ds:G511700" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GSDT_1340" type="ds:G511900" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GPST_1341" type="ds:G512000" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GSET_1342" type="ds:G512100" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GMAP_1343" type="ds:G512200" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GGSG_1346" type="ds:G512500" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GLLF_1350" type="ds:G512900" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GPFC_1351" type="ds:G513000" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GTPD_1359" type="ds:G513800" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GSCE_1378" type="ds:G514100" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GMEQ_1368" type="ds:G514800" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GMMT_1371" type="ds:G515100" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GMPT_1372" type="ds:G515200" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GMTC_1373" type="ds:G515300" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="G510400">
		<xs:sequence>
			<xs:element name="J0754" type="is:J0754" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0773" type="is:J0773" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="G510500">
		<xs:sequence>
			<xs:element name="J1287" type="is:J1287" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0774" type="is:J0774" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G510600">
		<xs:sequence>
			<xs:element name="J0760" type="is:J0760" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0765" type="is:J0765" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G510700">
		<xs:sequence>
			<xs:element name="J0758" type="is:J0758" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0764" type="is:J0764" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G510800">
		<xs:sequence>
			<xs:element name="J0285" type="is:J0285" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1289" type="is:J1289" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G510900">
		<xs:sequence>
			<xs:element name="J0127" type="is:J0127" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1290" type="is:J1290" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511000">
		<xs:sequence>
			<xs:element name="J0726" type="is:J0726" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1291" type="is:J1291" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511100">
		<xs:sequence>
			<xs:element name="J0001" type="is:J0001" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0753" type="is:J0753" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511200">
		<xs:sequence>
			<xs:element name="J0082" type="is:J0082" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0311" type="is:J0311" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0299" type="is:J0299" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0741" type="is:J0741" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511300">
		<xs:sequence>
			<xs:element name="J0725" type="is:J0725" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0745" type="is:J0745" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0756" type="is:J0756" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511400">
		<xs:sequence>
			<xs:element name="J0080" type="is:J0080" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1293" type="is:J1293" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511500">
		<xs:sequence>
			<xs:element name="J0146" type="is:J0146" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0882" type="is:J0882" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0914" type="is:J0914" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511600">
		<xs:sequence>
			<xs:element name="J0128" type="is:J0128" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0916" type="is:J0916" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511700">
		<xs:sequence>
			<xs:element name="J1294" type="is:J1294" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GYSD_1339" type="ds:G511800" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511800">
		<xs:sequence>
			<xs:element name="J0128" type="is:J0128" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0290" type="is:J0290" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0289" type="is:J0289" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0288" type="is:J0288" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0287" type="is:J0287" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G511900">
		<xs:sequence>
			<xs:element name="J0073" type="is:J0073" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0127" type="is:J0127" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0128" type="is:J0128" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512000">
		<xs:sequence>
			<xs:element name="J0146" type="is:J0146" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0073" type="is:J0073" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0902" type="is:J0902" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0747" type="is:J0747" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0918" type="is:J0918" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512100">
		<xs:sequence>
			<xs:element name="J0073" type="is:J0073" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0074" type="is:J0074" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0167" type="is:J0167" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512200">
		<xs:sequence>
			<xs:element name="J0002" type="is:J0002" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0750" type="is:J0750" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0244" type="is:J0244" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GMPR_1344" type="ds:G512300" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512300">
		<xs:sequence>
			<xs:element name="J0001" type="is:J0001" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1297" type="is:J1297" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1298" type="is:J1298" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1310" type="is:J1310" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0757" type="is:J0757" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GADL_1345" type="ds:G512400" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512400">
		<xs:sequence>
			<xs:element name="J1299" type="is:J1299" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512500">
		<xs:sequence>
			<xs:element name="J0066" type="is:J0066" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0269" type="is:J0269" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GGGD_1347" type="ds:G512600" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GPAA_1348" type="ds:G512700" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GIAA_1349" type="ds:G512800" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512600">
		<xs:sequence>
			<xs:element name="J0189" type="is:J0189" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0001" type="is:J0001" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1297" type="is:J1297" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0728" type="is:J0728" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0735" type="is:J0735" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512700">
		<xs:sequence>
			<xs:element name="J0111" type="is:J0111" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0001" type="is:J0001" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1297" type="is:J1297" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0730" type="is:J0730" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0737" type="is:J0737" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512800">
		<xs:sequence>
			<xs:element name="J0240" type="is:J0240" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0001" type="is:J0001" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1297" type="is:J1297" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0729" type="is:J0729" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0736" type="is:J0736" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G512900">
		<xs:sequence>
			<xs:element name="J0189" type="is:J0189" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0001" type="is:J0001" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1297" type="is:J1297" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0147" type="is:J0147" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0776" type="is:J0776" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0775" type="is:J0775" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0733" type="is:J0733" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0740" type="is:J0740" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513000">
		<xs:sequence>
			<xs:element name="J0071" type="is:J0071" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0122" type="is:J0122" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0123" type="is:J0123" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0777" type="is:J0777" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0778" type="is:J0778" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GDPP_1352" type="ds:G513100" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GPRO_1353" type="ds:G513200" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513100">
		<xs:sequence>
			<xs:element name="J0074" type="is:J0074" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0073" type="is:J0073" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1301" type="is:J1301" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513200">
		<xs:sequence>
			<xs:element name="J0072" type="is:J0072" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0124" type="is:J0124" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0878" type="is:J0878" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0125" type="is:J0125" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0400" type="is:J0400" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GPFL_1354" type="ds:G513300" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513300">
		<xs:sequence>
			<xs:element name="J0734" type="is:J0734" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0766" type="is:J0766" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GGSP_1355" type="ds:G513400" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GRES_1356" type="ds:G513500" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513400">
		<xs:sequence>
			<xs:element name="J0066" type="is:J0066" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1303" type="is:J1303" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513500">
		<xs:sequence>
			<xs:element name="J0127" type="is:J0127" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0128" type="is:J0128" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GPER_1357" type="ds:G513600" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513600">
		<xs:sequence>
			<xs:element name="J0074" type="is:J0074" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GCOF_1358" type="ds:G513700" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513700">
		<xs:sequence>
			<xs:element name="J0433" type="is:J0433" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0285" type="is:J0285" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513800">
		<xs:sequence>
			<xs:element name="J0744" type="is:J0744" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1214" type="is:J1214" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0134" type="is:J0134" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GTTP_1360" type="ds:G513900" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GCKI_1361" type="ds:G514000" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G513900">
		<xs:sequence>
			<xs:element name="J0136" type="is:J0136" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0137" type="is:J0137" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0135" type="is:J0135" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514000">
		<xs:sequence>
			<xs:element name="J0726" type="is:J0726" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0287" type="is:J0287" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0288" type="is:J0288" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0143" type="is:J0143" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0289" type="is:J0289" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0290" type="is:J0290" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0142" type="is:J0142" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514100">
		<xs:sequence>
			<xs:element name="J0076" type="is:J0076" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0075" type="is:J0075" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0496" type="is:J0496" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0401" type="is:J0401" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1683" type="is:J1683" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GTPR_1362" type="ds:G514200" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GVSD_1363" type="ds:G514300" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514200">
		<xs:sequence>
			<xs:element name="J1214" type="is:J1214" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514300">
		<xs:sequence>
			<xs:element name="J0071" type="is:J0071" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0398" type="is:J0398" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0447" type="is:J0447" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GGAE_1364" type="ds:G514400" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GSLM_1365" type="ds:G514500" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GASD_1366" type="ds:G514600" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514400">
		<xs:sequence>
			<xs:element name="J0066" type="is:J0066" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0768" type="is:J0768" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0763" type="is:J0763" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514500">
		<xs:sequence>
			<xs:element name="J0132" type="is:J0132" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1214" type="is:J1214" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514600">
		<xs:sequence>
			<xs:element name="J0066" type="is:J0066" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0731" type="is:J0731" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0738" type="is:J0738" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GAFD_1367" type="ds:G514700" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514700">
		<xs:sequence>
			<xs:element name="J0133" type="is:J0133" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1214" type="is:J1214" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514800">
		<xs:sequence>
			<xs:element name="J0103" type="is:J0103" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0727" type="is:J0727" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1306" type="is:J1306" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GCCC_1369" type="ds:G514900" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G514900">
		<xs:sequence>
			<xs:element name="J0160" type="is:J0160" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0163" type="is:J0163" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0164" type="is:J0164" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0020" type="is:J0020" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0161" type="is:J0161" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0162" type="is:J0162" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="GGCF_1370" type="ds:G515000" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G515000">
		<xs:sequence>
			<xs:element name="J0732" type="is:J0732" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0165" type="is:J0165" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0739" type="is:J0739" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G515100">
		<xs:sequence>
			<xs:element name="J1616" type="is:J1616" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1617" type="is:J1617" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1599" type="is:J1599" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1606" type="is:J1606" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G515200">
		<xs:sequence>
			<xs:element name="J1618" type="is:J1618" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1619" type="is:J1619" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1600" type="is:J1600" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1607" type="is:J1607" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G515300">
		<xs:sequence>
			<xs:element name="J0220" type="is:J0220" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1601" type="is:J1601" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1614" type="is:J1614" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1620" type="is:J1620" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1608" type="is:J1608" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1616" type="is:J1616" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1618" type="is:J1618" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1613" type="is:J1613" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1615" type="is:J1615" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1622" type="is:J1622" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1621" type="is:J1621" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GMPA_1374" type="ds:G515400" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G515400">
		<xs:sequence>
			<xs:element name="J0189" type="is:J0189" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1602" type="is:J1602" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1609" type="is:J1609" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1616" type="is:J1616" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1618" type="is:J1618" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1613" type="is:J1613" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1615" type="is:J1615" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1622" type="is:J1622" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1621" type="is:J1621" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GVML_1375" type="ds:G515500" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="GVMS_1376" type="ds:G515600" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G515500">
		<xs:sequence>
			<xs:element name="J0147" type="is:J0147" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1603" type="is:J1603" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1610" type="is:J1610" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G515600">
		<xs:sequence>
			<xs:element name="J0076" type="is:J0076" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1605" type="is:J1605" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1612" type="is:J1612" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GVLS_1377" type="ds:G515700" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G515700">
		<xs:sequence>
			<xs:element name="J0147" type="is:J0147" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1604" type="is:J1604" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1611" type="is:J1611" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="GVLP_1434" type="ds:G521300" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G521300">
		<xs:sequence>
			<xs:element name="J0071" type="is:J0071" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1706" type="is:J1706" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1707" type="is:J1707" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J1708" type="is:J1708" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="DataFlows">
		<xs:sequence>
			<xs:element name="Header" type="ns:Header" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="DataFlow" type="ds:DataFlow" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DataFlows" type="ds:DataFlows"></xs:element>
</xs:schema>