DflowXMLSchema/D0370001.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.electralink.co.uk/schemas/Header" xmlns:is="http://www.electralink.co.uk/schemas/DTC/DataItems" xmlns:ds="http://www.electralink.co.uk/schemas/DTC/D0370001" elementFormDefault="unqualified" targetNamespace="http://www.electralink.co.uk/schemas/DTC/D0370001">
	<xs:import schemaLocation="Header.xsd" namespace="http://www.electralink.co.uk/schemas/Header"></xs:import>
	<xs:import schemaLocation="DataItems.xsd" namespace="http://www.electralink.co.uk/schemas/DTC/DataItems"></xs:import>
	<xs:complexType name="DataFlow">
		<xs:sequence>
			<xs:element name="G01K_2001" type="ds:G579900" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G02K_2002" type="ds:G580000" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G04K_2004" type="ds:G580200" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="G579900">
		<xs:sequence>
			<xs:element name="J0073" type="is:J0073" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0146" type="is:J0146" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1086" type="is:J1086" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1087" type="is:J1087" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="G580000">
		<xs:sequence>
			<xs:element name="J1089" type="is:J1089" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1090" type="is:J1090" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G580200">
		<xs:sequence>
			<xs:element name="J2079" type="is:J2079" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1577" type="is:J1577" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J1578" type="is:J1578" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G05K_2005" type="ds:G580300" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G06K_2006" type="ds:G580400" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G10K_2010" type="ds:G580800" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="G11K_2011" type="ds:G580900" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G580300">
		<xs:sequence>
			<xs:element name="J0073" type="is:J0073" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0146" type="is:J0146" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0882" type="is:J0882" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0195" type="is:J0195" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0196" type="is:J0196" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0197" type="is:J0197" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0084" type="is:J0084" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0248" type="is:J0248" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G580400">
		<xs:sequence>
			<xs:element name="J0066" type="is:J0066" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0269" type="is:J0269" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G07K_2007" type="ds:G580500" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G580500">
		<xs:sequence>
			<xs:element name="J0160" type="is:J0160" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0165" type="is:J0165" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0161" type="is:J0161" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0020" type="is:J0020" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0163" type="is:J0163" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0164" type="is:J0164" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0162" type="is:J0162" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0103" type="is:J0103" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G08K_2008" type="ds:G580600" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G09K_2009" type="ds:G580700" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G580600">
		<xs:sequence>
			<xs:element name="J0074" type="is:J0074" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0167" type="is:J0167" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J2136" type="is:J2136" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2135" type="is:J2135" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2138" type="is:J2138" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2139" type="is:J2139" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G580700">
		<xs:sequence>
			<xs:element name="J2142" type="is:J2142" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2143" type="is:J2143" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2144" type="is:J2144" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2145" type="is:J2145" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G580800">
		<xs:sequence>
			<xs:element name="J0073" type="is:J0073" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0146" type="is:J0146" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0882" type="is:J0882" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0195" type="is:J0195" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0196" type="is:J0196" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0197" type="is:J0197" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0084" type="is:J0084" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0248" type="is:J0248" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G580900">
		<xs:sequence>
			<xs:element name="J0066" type="is:J0066" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0269" type="is:J0269" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G12K_2012" type="ds:G581000" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G581000">
		<xs:sequence>
			<xs:element name="J0183" type="is:J0183" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0271" type="is:J0271" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G13K_2013" type="ds:G581100" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="G15K_2015" type="ds:G581300" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G581100">
		<xs:sequence>
			<xs:element name="J0161" type="is:J0161" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0020" type="is:J0020" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J0160" type="is:J0160" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0162" type="is:J0162" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0163" type="is:J0163" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0103" type="is:J0103" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0164" type="is:J0164" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="G14K_2014" type="ds:G581200" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G581200">
		<xs:sequence>
			<xs:element name="J0074" type="is:J0074" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J0167" type="is:J0167" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="J2136" type="is:J2136" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2135" type="is:J2135" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2153" type="is:J2153" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="G581300">
		<xs:sequence>
			<xs:element name="J2148" type="is:J2148" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2149" type="is:J2149" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="J2176" type="is:J2176" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="isGroupElement" type="xs:boolean" fixed="true"/>
		<xs:attribute name="isFlowGroup" type="xs:boolean" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="DataFlows">
		<xs:sequence>
			<xs:element name="Header" type="ns:Header" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="DataFlow" type="ds:DataFlow" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DataFlows" type="ds:DataFlows"></xs:element>
</xs:schema>